<tr>
  <td align="center" valign="middle" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 12px 12px 12px 0; text-align: left; border-bottom: 1px solid #e1e2e3; width: 45px;">
    <a href="<%= link %>" target="_blank" style="overflow: hidden; width: 40px; height: 40px; display: block;">
    <% if talent.avatar %>
      <img src='<%= "#{talent.avatar}" %>' style="background-color: #BEBEBE; border-radius: 50%; display: inline-block; width: 40px; height: 40px;">
    <% else %>
      <div style="border-radius: 50%; display: inline-block; width: 40px; height: 40px; background-color: <%= GetAvatar.get_bg_color(talent.name) %>; color: #fff; font-size: 20px; text-align: center; line-height: 39px;">
        <%= talent.name.split(" ").map {|name| name[0].chr }.join.upcase %>
      </div>
    <% end %>
    </a>
  </td>
  <td align="center" valign="middle" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 12px 0; text-align: left; border-bottom: 1px solid #e1e2e3;">
    <%= body %>
  </td>
  <td align="center" valign="middle" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 12px 0 12px 12px; text-align: right; border-bottom: 1px solid #e1e2e3; width: 134px;">
    <%= date_time_format(timezone, updated_at, ' '.concat(timezone[:abbr])) %>
  </td>
</tr>
